.spacer{
    margin:10px;
}

.spacer-down{
    margin-bottom: 10px;
}

.spacer-up{
    margin-top: 10px;
}

.spacer-left{
    margin-left: 10px;
}

.spacer-right{
    margin-right: 10px ;
}

  .row-absolute{
      display:flex;
  }
  
  .col{
    width:100%;
  }

   .col50{
      max-width:50%;
    }
     .col100{
      max-width:100%;
    }
     .col25{
      max-width:25%;
    }



  .div-n{
    width: 100%;
    color:white;
    font-weight:bold;
    display: table;
    cursor: pointer;
  }

  @media only screen and (min-width: 601px) {
    .row{
        display: flex;
    }

    .col25-lg{
        max-width:25%;
      }

    .col100-lg{
        max-width:100%;
      }

    .col50-lg{
        max-width:50%;
      }

    .div1{
        height: 310px;
      }
      
      .div2{
        height:150px;
      }
      
      .div3{
        height:150px;
      }
      
      .div4{
        height:150px;
      }
      .div5{
        height:100px;
      }
      
      .div6{
        height:150px;
      }
      .div7{
        height:260px;
      }
      
      .div8{
        height: 180px;
      }
      
      .div9{
        height:70px;
      }

}

@media only screen and (max-width: 600px) {
    .div-mobile{
        height: 70px;
      }

      .col50-sm{
        max-width:50%;
      }

      .col100-sm{
        max-width:100%;
      }

      .col25-sm{
        max-width:25%;
      }

      .row{
        display: block;
    }
}
  
  .align-middle{
    display:table-cell; 
    vertical-align:middle;
    text-align: center;
  }