<div (window:resize)="onResize()">
  <div class="row spacer">
    <div class="col col100-sm col50-lg spacer-right" id="macro-div-1">
      <div class="col col100">
      <div id="d1" class="div-n div-mobile div1" (click)="changeDivColor()">
          <div class="align-middle">
            1</div>
        </div>
      </div>
    </div>
    <div class="col col100-sm col50-lg spacer-left" id="macro-div-2">
      <div class="col col100" id="div-two">
        <div id="d2" class="div-n div-mobile div2" (click)="changeDivColor()">
          <div class="align-middle">
            2</div>
        </div>
      </div>
      <div class="row-absolute spacer-up" id="macro-div-3">
        <div class="col col50 spacer-right" id="div-three">
          <div id="d3" class="div-n div-mobile div3" (click)="changeDivColor()">
            <div class="align-middle">
              3</div>
          </div>
        </div>
        <div class="col col50 spacer-left" id="div-four">
          <div id="d4" class="div-n div-mobile div4" (click)="changeDivColor()">
            <div class="align-middle">
              4</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" id="fake-mobile">
  </div>
  <div class="row-absolute spacer" id="last-div">
    <div id="div-five-six" class="col col25-lg col50-sm spacer-right">
      <div class="col col100">
        <div id="d5" class="div-n div-mobile div5" (click)="changeDivColor()">
          <div class="align-middle">
            5</div>
        </div>
      </div>
      <div class="col col100 spacer-up">
        <div id="d6" class="div-n div-mobile div6" (click)="changeDivColor()">
          <div class="align-middle">
            6</div>
        </div>
      </div>
    </div>
    <div id="div-seven" class="col col50-lg col100-sm">
      <div class="col col100">
        <div id="d7" class="div-n div-mobile div7" (click)="changeDivColor()">
          <div class="align-middle">
            7</div>
        </div>
      </div>
    </div>
    <div id="macro-div-4" class="col col25-lg col50-sm spacer-left">
      <div class="col col100">
        <div id="d8" class="div-n div-mobile div8" (click)="changeDivColor()">
          <div class="align-middle">
            8</div>
        </div>
      </div>
      <div class="col col100 spacer-up">
        <div id="d9" class="div-n div-mobile div9" (click)="changeDivColor()">
          <div class="align-middle">
            9</div>
        </div>
      </div>
    </div>
  </div>
  <div>
  </div>